In [2]:
from make_file_for_odds_ratio import GetData
import pandas as pd
from prepare_data_for_modeling_or import ModelingData

In [3]:
dfs = GetData().execute()

File already exists: reading now...
File already exists: reading now...
File already exists: reading now...

In [4]:
mdf = pd.DataFrame()
for i in range(len(dfs)):
    mdf = mdf.append(dfs[i])

In [8]:
mdf[mdf['SMOKE100'] == 2].shape, dr.shape

((749368, 18), (1373755, 18))

In [6]:
df = ModelingData().get_data_with_epa_region()

File already exists: reading now...
File already exists: reading now...
File already exists: reading now...

In [7]:
df.shape

(747250, 29)

In [18]:
df.columns

Index(['SMOKE100', '_STATE', 'ASTHMA3', 'ASTHNOW', '_AGEG5YR', 'SEX',
       '_RACE_G1', 'INCOME2', '_INCOMG', 'EDUCA', '_EDUCAG', '_BMI5',
       '_BMI5CAT', 'CHILDREN', 'NUMADULT', 'HHADULT', '_CHLDCNT', '_LLCPWT2',
       'NONCARB', 'ASTHMA', 'ADULTS', 'HOUSEHOLD', 'POVERTY_GUIDE', 'POVERTY',
       'STATE', 'DENSITY', 'State Name', 'State Code', 'EPA Region', 'id'],
      dtype='object')

In [20]:
def groupby(df, col):
    t = df.groupby(col)['id'].count().reset_index()
    t['per'] = t['id']*100/df.shape[0]
    return t

In [21]:
df['id'] = df.index

In [22]:
groupby(df, 'POVERTY')

   POVERTY      id        per
0      0.0  566430  75.801940
1      1.0   56199   7.520776

In [13]:
df.shape

(747250, 30)

In [14]:
groupby(df, 'ASTHMA')

   ASTHMA      id        per
0       0  683079  91.412379
1       1   64171   8.587621

In [15]:
groupby(df, 'NONCARB')

   NONCARB      id        per
0        0  555386  74.323988
1        1  191864  25.676012

In [16]:
groupby(df, 'POVERTY')

   POVERTY      id        per
0      0.0  566430  75.801940
1      1.0   56199   7.520776

In [25]:
groupby(df, ['NONCARB', 'POVERTY'])

   NONCARB  POVERTY      id        per
0        0      0.0  420473  56.269388
1        0      1.0   42591   5.699699
2        1      0.0  145957  19.532553
3        1      1.0   13608   1.821077

In [27]:
42591*100/(42591+420473)

9.19764870514659

In [28]:
13608*100/(13608+145957)

8.528186005703006