In [1]:
import pandas as pd

In [2]:
fname = "data/CENSUS/sc-est2019-agesex-civ.csv"

In [3]:
df = pd.read_csv(fname)

In [5]:
year = "2017"
year_col = "POPEST{}_CIV".format(year)
columns = ["STATE", "SEX", "AGE"] + [year_col]
df = df[columns]

In [6]:
df

       STATE           NAME  SEX  AGE  POPEST2017_CIV
0          0  United States    0    0         3893990
1          0  United States    0    1         3972711
2          0  United States    0    2         4020045
3          0  United States    0    3         4006946
4          0  United States    0    4         3997280
...      ...            ...  ...  ...             ...
13567     56        Wyoming    2   82            1126
13568     56        Wyoming    2   83            1024
13569     56        Wyoming    2   84             916
13570     56        Wyoming    2   85            6741
13571     56        Wyoming    2  999          283137

[13572 rows x 5 columns]

In [9]:
def if_child(x):
    if x<18:
        return 1
    else:
        return 0

df['CHILD'] = df['AGE'].apply(if_child)

c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [10]:
df

       STATE           NAME  SEX  AGE  POPEST2017_CIV  CHILD
0          0  United States    0    0         3893990      1
1          0  United States    0    1         3972711      1
2          0  United States    0    2         4020045      1
3          0  United States    0    3         4006946      1
4          0  United States    0    4         3997280      1
...      ...            ...  ...  ...             ...    ...
13567     56        Wyoming    2   82            1126      0
13568     56        Wyoming    2   83            1024      0
13569     56        Wyoming    2   84             916      0
13570     56        Wyoming    2   85            6741      0
13571     56        Wyoming    2  999          283137      0

[13572 rows x 6 columns]

In [24]:
df = df[(df['AGE']!=999) & (df['SEX']==0)]
pop_estimate_by_age_sex = df.groupby(['STATE', "SEX", "CHILD"]).agg({year_col: 'sum'}).reset_index()

In [25]:
pop_estimate_by_age_sex[pop_estimate_by_age_sex['STATE']==1]

   STATE  SEX  CHILD  POPEST2017_CIV
2      1    0      0         3765474
3      1    0      1         1095991

In [26]:
a = pop_estimate_by_age_sex[pop_estimate_by_age_sex['STATE']==1]

In [27]:
a[(a['SEX'] == 0) & (a['CHILD']==1)]['POPEST2017_CIV'].tolist()[0]

1095991

In [28]:
a[(a['SEX'] == 0) & (a['CHILD']==0)]['POPEST2017_CIV'].tolist()[0]

3765474