In [3]:
import pandas as pd
from AF_calculations.read_county_population import ReadCountyCensus
from constants import ZEV_STATES
import csv

In [10]:
obj = ReadCountyCensus()
df = obj.get_df()

data/CENSUS/state_data/cc-est2019-agesex-01.csv
data/CENSUS/state_data/cc-est2019-agesex-02.csv
data/CENSUS/state_data/cc-est2019-agesex-04.csv
data/CENSUS/state_data/cc-est2019-agesex-05.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-06.csv
data/CENSUS/state_data/cc-est2019-agesex-08.csv
data/CENSUS/state_data/cc-est2019-agesex-09.csv
data/CENSUS/state_data/cc-est2019-agesex-10.csv
data/CENSUS/state_data/cc-est2019-agesex-11.csv
data/CENSUS/state_data/cc-est2019-agesex-12.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-13.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-15.csv
data/CENSUS/state_data/cc-est2019-agesex-16.csv
data/CENSUS/state_data/cc-est2019-agesex-17.csv
data/CENSUS/state_data/cc-est2019-agesex-18.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-19.csv
data/CENSUS/state_data/cc-est2019-agesex-20.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-21.csv
data/CENSUS/state_data/cc-est2019-agesex-22.csv
data/CENSUS/state_data/cc-est2019-agesex-23.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-24.csv
data/CENSUS/state_data/cc-est2019-agesex-25.csv
data/CENSUS/state_data/cc-est2019-agesex-26.csv
data/CENSUS/state_data/cc-est2019-agesex-27.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-28.csv
data/CENSUS/state_data/cc-est2019-agesex-29.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-30.csv
data/CENSUS/state_data/cc-est2019-agesex-31.csv
data/CENSUS/state_data/cc-est2019-agesex-32.csv
data/CENSUS/state_data/cc-est2019-agesex-33.csv
data/CENSUS/state_data/cc-est2019-agesex-34.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-35.csv
data/CENSUS/state_data/cc-est2019-agesex-36.csv
data/CENSUS/state_data/cc-est2019-agesex-37.csv
data/CENSUS/state_data/cc-est2019-agesex-38.csv
data/CENSUS/state_data/cc-est2019-agesex-39.csv
data/CENSUS/state_data/cc-est2019-agesex-40.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-41.csv
data/CENSUS/state_data/cc-est2019-agesex-42.csv
data/CENSUS/state_data/cc-est2019-agesex-44.csv
data/CENSUS/state_data/cc-est2019-agesex-45.csv
data/CENSUS/state_data/cc-est2019-agesex-46.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-47.csv
data/CENSUS/state_data/cc-est2019-agesex-48.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

data/CENSUS/state_data/cc-est2019-agesex-49.csv
data/CENSUS/state_data/cc-est2019-agesex-50.csv
data/CENSUS/state_data/cc-est2019-agesex-51.csv
data/CENSUS/state_data/cc-est2019-agesex-53.csv
data/CENSUS/state_data/cc-est2019-agesex-54.csv
data/CENSUS/state_data/cc-est2019-agesex-55.csv
data/CENSUS/state_data/cc-est2019-agesex-56.csv

C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)
C:\Users\harsh\OneDrive - University of Toronto\Projects\Environmental Discrimination\AF_calculations\read_county_population.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tdf)

In [11]:
mdf = df.groupby(['state_code', 'year']).agg({'population': 'sum', 'state_name': 'first'}).reset_index()
mdf['ZEV'] = mdf['state_code'].apply(lambda x:1 if x in ZEV_STATES else 0)

In [12]:
mdf['pop_shift'] = mdf.groupby(['state_code'])['population'].shift(1)

In [13]:
mdf[mdf['state_code'].isin([1,2])]

    state_code  year  population state_name  ZEV  pop_shift
0            1  2010     1130433    Alabama    0        NaN
1            1  2011     1123827    Alabama    0  1130433.0
2            1  2012     1116702    Alabama    0  1123827.0
3            1  2013     1109908    Alabama    0  1116702.0
4            1  2014     1105744    Alabama    0  1109908.0
5            1  2015     1102585    Alabama    0  1105744.0
6            1  2016     1099450    Alabama    0  1102585.0
7            1  2017     1096017    Alabama    0  1099450.0
8            1  2018     1091854    Alabama    0  1096017.0
9            1  2019     1088306    Alabama    0  1091854.0
10           2  2010      187995     Alaska    0        NaN
11           2  2011      188580     Alaska    0   187995.0
12           2  2012      188399     Alaska    0   188580.0
13           2  2013      188349     Alaska    0   188399.0
14           2  2014      186818     Alaska    0   188349.0
15           2  2015      186144     Alaska    0   186818.0
16           2  2016      186851     Alaska    0   186144.0
17           2  2017      185410     Alaska    0   186851.0
18           2  2018      182696     Alaska    0   185410.0
19           2  2019      179983     Alaska    0   182696.0

In [14]:
mdf['change'] = ((mdf['population'] - mdf['pop_shift'])*100)/mdf['pop_shift']

In [15]:
mdf_zev = mdf[mdf['ZEV'] == 1]
mdf_others = mdf[mdf['ZEV'] == 0]

In [16]:
mdf_zev

     state_code  year  population  state_name  ZEV  pop_shift    change
40            6  2010     9280492  California    1        NaN       NaN
41            6  2011     9244611  California    1  9280492.0 -0.386628
42            6  2012     9193534  California    1  9244611.0 -0.552506
43            6  2013     9157430  California    1  9193534.0 -0.392711
44            6  2014     9134153  California    1  9157430.0 -0.254187
..          ...   ...         ...         ...  ...        ...       ...
455          50  2015      120051     Vermont    1   121497.0 -1.190153
456          50  2016      118191     Vermont    1   120051.0 -1.549342
457          50  2017      116906     Vermont    1   118191.0 -1.087223
458          50  2018      115394     Vermont    1   116906.0 -1.293347
459          50  2019      114005     Vermont    1   115394.0 -1.203702

[100 rows x 7 columns]

In [26]:
def twop(x):
    return "{:.2f}".format(x)

def make_change(row):
    pop = row['population']
    delta = row['change']
    if not pd.isna(delta):
        delta = twop(delta)
        if delta[0] != '-':
            return "{} (+{}%)".format(pop, delta)
        else:
            return "{} ({}%)".format(pop, delta)
    else:
        return "{}".format(pop)
    

mdf['write_pop'] = mdf.apply(make_change, axis=1)

In [33]:
fname = "output_files/tables1_sup.csv"
f = open(fname, "w", newline='')
writer = csv.writer(f)
columns = ['state_name', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
writer.writerow(columns)
for state_code in mdf['state_code'].unique():
    tdf = mdf[mdf['state_code'] == state_code]
    ttdf = tdf.groupby(['state_code']).agg({'write_pop': list, 'ZEV': 'first', 'state_name': 'first'})
    l = ttdf.values[0]
    write_row = [l[-1]] + l[0]
    writer.writerow(write_row)
f.close()

In [34]:
mdf = mdf.groupby(['ZEV', 'year']).agg({'population': 'sum'}).reset_index()
mdf['pop_shift'] = mdf.groupby(['ZEV'])['population'].shift(1)
mdf['change'] = ((mdf['population'] - mdf['pop_shift'])*100)/mdf['pop_shift']

In [42]:
fname = "output_files/tables1.csv"
f = open(fname, "w", newline='')
writer = csv.writer(f)
columns = ['Year', 'Population_ZEV', 'Change_ZEV', 'Population_Other', 'Change_Other']
writer.writerow(columns)
tdf_zev = mdf[mdf['ZEV'] == 1]
tdf_non = mdf[mdf['ZEV'] == 0]
for zev_df, non_df in zip(tdf_zev.iterrows(), tdf_non.iterrows()):
    zev_row, non_row = zev_df[1], non_df[1]
    write_row = [zev_row['year'], zev_row['population'], twop(zev_row['change'])+'%', non_row['population'], twop(non_row['change'])+'%']
    writer.writerow(write_row)
f.close()

In [38]:
zev_df[1]

ZEV                  1.0
year              2010.0
population    20738160.0
pop_shift            NaN
change               NaN
Name: 10, dtype: float64