In [8]:
import pandas as pd
from constants import *
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import matplotlib.gridspec as gridspec

In [9]:
fname = "data/ev_sales/total_registration.xlsx"
total_df = pd.read_excel(fname)

In [24]:
total_df['State'] = total_df['State'].apply(lambda x:x.strip())

In [12]:
fname = "data/ev_sales/BEV-PHEV-HEV-FCEV Sales By State for 2011-2021-EVAdoption.xlsx"
ev_df = pd.read_excel(fname, sheet_name = '2018')

In [14]:
ev_df['ev_sales'] = ev_df['2018 FCEV Sales'] + ev_df['2018 BEV Sales'] + ev_df['2018 PHEV Sales']

In [17]:
ev_df['State'] = ev_df['State'].replace("District of Columbia", "District Of Columbia")

In [18]:
epa_region = pd.read_csv("data/states_and_counties.csv")
epa_region = epa_region[['State Name','State Code', "EPA Region"]]
epa_region = epa_region[epa_region['State Code'] != 'CC']
epa_region['State Code'] = epa_region['State Code'].apply(int)
epa_region = epa_region.drop_duplicates(['State Code'], keep='first')
mdf_ev = ev_df.merge(epa_region, left_on="State", right_on="State Name", how='left')

In [31]:
mdf_total = total_df.merge(epa_region, left_on="State", right_on="State Name", how='left')

In [32]:
mdf_total = mdf_total.drop(['State', 'EPA Region', 'State Name'], axis = 1)

In [33]:
mdf = mdf_total.merge(mdf_ev, on= 'State Code')

In [35]:
mdf['market_share'] = (mdf['ev_sales'] * 100)/mdf['Total']

In [37]:
mdf = mdf[~mdf['State Code'].isin(EXCLUDE_STATES)]
mdf_carb = mdf[mdf['State Code'].isin(ZEV_STATES)]
mdf_noncarb = mdf[~mdf['State Code'].isin(ZEV_STATES)]
mdf_noncarb = mdf_noncarb[mdf_noncarb['State']!='Total US']

In [41]:
(mdf_carb['ev_sales'].sum()*100)/mdf_carb['Total'].sum()

0.6882551061089176

In [42]:
(mdf_noncarb['ev_sales'].sum()*100)/mdf_noncarb['Total'].sum()

0.13059940331225783

In [39]:
mdf_carb['market_share'].sum()

3.8809737360970367

In [40]:
mdf_carb

,Total,State Code,State,2018 FCEV Sales,2018 FCEV Market Share,2018 BEV Sales,2018 BEV Market Share,2018 PHEV Sales,2018 PHEV Market Share,2018 HEV Sales,2018 HEV Market Share,ev_sales,State Name,EPA Region,market_share
4,14820833,6,California,1729,0.0009,91171,0.0466,62271,0.0318,77198,0.0394,155171,California,9.0,1.046979
6,1305544,9,Connecticut,0,0.0000,1844,0.0109,1571,0.0093,2933,0.0174,3415,Connecticut,1.0,0.261577
19,386449,23,Maine,0,0.0000,254,0.0036,545,0.0077,1311,1.8600,799,Maine,1.0,0.206754
20,1893626,24,Maryland,0,0.0000,3815,0.0116,2484,0.0075,7826,0.0238,6299,Maryland,3.0,0.332642
21,2178472,25,Massachusetts,0,0.0000,4959,0.0139,4031,0.0113,7022,0.0197,8990,Massachusetts,1.0,0.412675
30,2730210,34,New Jersey,0,0.0000,5651,0.0097,3579,0.0062,7556,0.0130,9230,New Jersey,2.0,0.338069
32,4690752,36,New York,2,0.0000,6903,0.0068,8849,0.0088,14406,0.0143,15754,New York,2.0,0.335852
37,1462295,41,Oregon,0,0.0000,3600,0.0205,2376,0.0135,6276,0.0358,5976,Oregon,10.0,0.408673
39,404987,44,Rhode Island,0,0.0000,276,0.0056,343,0.0070,759,0.0154,619,Rhode Island,1.0,0.152844
45,214077,50,Vermont,0,0.0000,355,0.0083,469,0.0109,876,0.0204,824,Vermont,1.0,0.384908