In [2]:
import pandas as pd
from constants import *

In [60]:
fname = "data/ev_sales/BEV-PHEV-HEV-FCEV Sales By State for 2011-2021-EVAdoption.xlsx"
sample_df = pd.read_excel(fname, sheet_name = '2013')

In [61]:
start_year = 2013
end_year = 2022
new_cols = [" ".join(i.split()[1:]) if len(i.split()) > 1 else i for i in sample_df.columns  ]
df = pd.DataFrame(columns=new_cols)
for year in range(start_year, end_year):
    t_df = pd.read_excel(fname, sheet_name="{}".format(year))
    t_df.columns = new_cols
    t_df['year'] = str(year)
    df = df.append(t_df)

C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)
C:\Users\Harshit Gujral\AppData\Local\Temp\ipykernel_17232\1261286437.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t_df)

In [62]:
df

,State,FCEV Sales,FCEV Market Share,BEV Sales,BEV Market Share,PHEV Sales,PHEV Market Share,HEV Sales,HEV Market Share,year
0,Alabama,0,0,77,0.0004,99,0.0005,3807,0.0204,2013
1,Alaska,0,0,17,0.0007,26,0.001,458,0.0176,2013
2,Arizona,0,0,705,0.0023,544,0.0017,12026,0.0384,2013
3,Arkansas,0,0,24,0.0002,74,0.0006,2807,0.0228,2013
4,California,19,0,20943,0.0129,17512,0.0108,117530,0.0723,2013
...,...,...,...,...,...,...,...,...,...,...
47,Washington,0,0.0,17143,0.0696,3637,0.0148,33186,0.1348,2021
48,West Virginia,0,0.0,390,0.0058,279,0.0041,3652,0.054,2021
49,Wisconsin,0,0.0,3011,0.0147,1336,0.0065,14265,0.0694,2021
50,Wyoming,0,0.0,138,0.0076,128,0.007,1115,0.0613,2021
51,Total US,3281,0.0002,473426,0.0338,173804,0.0124,959397,0.0686,2021

In [63]:
combined_ev_sales_df = mdf.groupby(['State'])[["FCEV Sales", "BEV Sales", "PHEV Sales", "HEV Sales"]].sum().reset_index()

In [64]:
combined_ev_sales_df['State'] = combined_ev_sales_df['State'].replace("District of Columbia", "District Of Columbia")

In [65]:
epa_region = pd.read_csv("data/states_and_counties.csv")
epa_region = epa_region[['State Name','State Code', "EPA Region"]]
epa_region = epa_region[epa_region['State Code'] != 'CC']
epa_region['State Code'] = epa_region['State Code'].apply(int)
epa_region = epa_region.drop_duplicates(['State Code'], keep='first')
mdf = combined_ev_sales_df.merge(epa_region, left_on="State", right_on="State Name", how='left')

In [66]:
mdf

,State,FCEV Sales,BEV Sales,PHEV Sales,HEV Sales,State Name,State Code,EPA Region
0,Alabama,0,1038,1135,16833,Alabama,1.0,4.0
1,Alaska,0,228,260,2358,Alaska,2.0,10.0
2,Arkansas,1,471,582,11399,Arkansas,5.0,6.0
3,California,4755,263434,217325,608538,California,6.0,9.0
4,Connecticut,1,4643,5546,21202,Connecticut,9.0,1.0
5,Florida,2,22653,15257,145962,Florida,12.0,4.0
6,Georgia,0,27625,5124,50675,Georgia,13.0,4.0
7,Hawaii,4,6156,2443,13174,Hawaii,15.0,9.0
8,Idaho,0,589,768,8304,Idaho,16.0,10.0
9,Illinois,1,13170,7367,94543,Illinois,17.0,5.0
10,Indiana,0,2816,2769,30411,Indiana,18.0,5.0
11,Iowa,0,903,1506,16005,Iowa,19.0,7.0
12,Kansas,0,1285,1120,14498,Kansas,20.0,7.0
13,Kentucky,0,903,1071,17490,Kentucky,21.0,4.0
14,Louisiana,0,847,757,11713,Louisiana,22.0,6.0
15,Maine,0,568,1646,8854,Maine,23.0,1.0
16,Maryland,3,8003,8210,51657,Maryland,24.0,3.0
17,Massachusetts,0,10133,11388,51465,Massachusetts,25.0,1.0
18,Michigan,0,3573,12340,45480,Michigan,26.0,5.0
19,Mississippi,0,231,327,7412,Mississippi,28.0,4.0
20,Missouri,0,3427,2682,37202,Missouri,29.0,7.0
21,Montana,0,439,385,6229,Montana,30.0,8.0
22,Nebraska,0,711,891,8668,Nebraska,31.0,7.0
23,Nevada,0,3748,2211,20238,Nevada,32.0,9.0
24,New Hampshire,0,1164,1948,11143,New Hampshire,33.0,1.0
25,New Jersey,1,11661,12929,53320,New Jersey,34.0,2.0
26,New York,2,15908,27794,111348,New York,36.0,2.0
27,North Carolina,0,6839,4949,60865,North Carolina,37.0,4.0
28,North Dakota,0,97,147,2208,North Dakota,38.0,8.0
29,Ohio,0,5960,5709,58931,Ohio,39.0,5.0
30,Oklahoma,0,3426,985,52891,Oklahoma,40.0,6.0
31,Oregon,0,11960,7919,43312,Oregon,41.0,10.0
32,Rhode Island,0,674,1135,5854,Rhode Island,44.0,1.0
33,South Carolina,0,1476,1639,23442,South Carolina,45.0,4.0
34,South Dakota,0,142,234,3183,South Dakota,46.0,8.0
35,Tennessee,0,3597,1972,27719,Tennessee,47.0,4.0
36,Texas,0,19739,11889,125884,Texas,48.0,6.0
37,Total US,4770,543034,437056,2303601,NaN,NaN,NaN
38,Utah,0,4149,2289,18297,Utah,49.0,8.0
39,Vermont,0,985,2151,6434,Vermont,50.0,1.0
40,Virginia,0,8420,6813,64415,Virginia,51.0,3.0
41,West Virginia,0,216,404,6352,West Virginia,54.0,3.0
42,Wisconsin,0,4488,3054,32563,Wisconsin,55.0,5.0
43,Wyoming,0,121,120,1805,Wyoming,56.0,8.0

In [73]:
# mdf['ev_sales'] = mdf["FCEV Sales"] + mdf["BEV Sales"] +  mdf["PHEV Sales"] + mdf["HEV Sales"]
mdf['ev_sales'] =  mdf["FCEV Sales"] + mdf["BEV Sales"] +  mdf["PHEV Sales"]

In [74]:
mdf

,State,FCEV Sales,BEV Sales,PHEV Sales,HEV Sales,State Name,State Code,EPA Region,ev_sales,us_percent
0,Alabama,0,1038,1135,16833,Alabama,1.0,4.0,2173,0.221714
1,Alaska,0,228,260,2358,Alaska,2.0,10.0,488,0.049791
2,Arkansas,1,471,582,11399,Arkansas,5.0,6.0,1054,0.107439
3,California,4755,263434,217325,608538,California,6.0,9.0,485514,49.052536
4,Connecticut,1,4643,5546,21202,Connecticut,9.0,1.0,10190,1.039598
5,Florida,2,22653,15257,145962,Florida,12.0,4.0,37912,3.868012
6,Georgia,0,27625,5124,50675,Georgia,13.0,4.0,32749,3.341428
7,Hawaii,4,6156,2443,13174,Hawaii,15.0,9.0,8603,0.877368
8,Idaho,0,589,768,8304,Idaho,16.0,10.0,1357,0.138457
9,Illinois,1,13170,7367,94543,Illinois,17.0,5.0,20538,2.095420
10,Indiana,0,2816,2769,30411,Indiana,18.0,5.0,5585,0.569846
11,Iowa,0,903,1506,16005,Iowa,19.0,7.0,2409,0.245794
12,Kansas,0,1285,1120,14498,Kansas,20.0,7.0,2405,0.245386
13,Kentucky,0,903,1071,17490,Kentucky,21.0,4.0,1974,0.201410
14,Louisiana,0,847,757,11713,Louisiana,22.0,6.0,1604,0.163658
15,Maine,0,568,1646,8854,Maine,23.0,1.0,2214,0.225898
16,Maryland,3,8003,8210,51657,Maryland,24.0,3.0,16216,1.654236
17,Massachusetts,0,10133,11388,51465,Massachusetts,25.0,1.0,21521,2.195819
18,Michigan,0,3573,12340,45480,Michigan,26.0,5.0,15913,1.623626
19,Mississippi,0,231,327,7412,Mississippi,28.0,4.0,558,0.056934
20,Missouri,0,3427,2682,37202,Missouri,29.0,7.0,6109,0.623310
21,Montana,0,439,385,6229,Montana,30.0,8.0,824,0.084074
22,Nebraska,0,711,891,8668,Nebraska,31.0,7.0,1602,0.163454
23,Nevada,0,3748,2211,20238,Nevada,32.0,9.0,5959,0.608005
24,New Hampshire,0,1164,1948,11143,New Hampshire,33.0,1.0,3112,0.317522
25,New Jersey,1,11661,12929,53320,New Jersey,34.0,2.0,24591,2.508953
26,New York,2,15908,27794,111348,New York,36.0,2.0,43704,4.458978
27,North Carolina,0,6839,4949,60865,North Carolina,37.0,4.0,11788,1.202747
28,North Dakota,0,97,147,2208,North Dakota,38.0,8.0,244,0.024896
29,Ohio,0,5960,5709,58931,Ohio,39.0,5.0,11669,1.190605
30,Oklahoma,0,3426,985,52891,Oklahoma,40.0,6.0,4411,0.450061
31,Oregon,0,11960,7919,43312,Oregon,41.0,10.0,19879,2.028283
32,Rhode Island,0,674,1135,5854,Rhode Island,44.0,1.0,1809,0.184575
33,South Carolina,0,1476,1639,23442,South Carolina,45.0,4.0,3115,0.317828
34,South Dakota,0,142,234,3183,South Dakota,46.0,8.0,376,0.038364
35,Tennessee,0,3597,1972,27719,Tennessee,47.0,4.0,5569,0.568213
36,Texas,0,19739,11889,125884,Texas,48.0,6.0,31628,3.227051
37,Total US,4770,543034,437056,2303601,NaN,NaN,NaN,984860,100.000000
38,Utah,0,4149,2289,18297,Utah,49.0,8.0,6438,0.656878
39,Vermont,0,985,2151,6434,Vermont,50.0,1.0,3136,0.319971
40,Virginia,0,8420,6813,64415,Virginia,51.0,3.0,15233,1.554245
41,West Virginia,0,216,404,6352,West Virginia,54.0,3.0,620,0.063259
42,Wisconsin,0,4488,3054,32563,Wisconsin,55.0,5.0,7542,0.769521
43,Wyoming,0,121,120,1805,Wyoming,56.0,8.0,241,0.024590

In [75]:
total_us_ev_sales = mdf[mdf['State'] == 'Total US']['ev_sales'].tolist()[0]
mdf['us_percent'] = (mdf['ev_sales']*100)/total_us_ev_sales

In [76]:
mdf

,State,FCEV Sales,BEV Sales,PHEV Sales,HEV Sales,State Name,State Code,EPA Region,ev_sales,us_percent
0,Alabama,0,1038,1135,16833,Alabama,1.0,4.0,2173,0.220640
1,Alaska,0,228,260,2358,Alaska,2.0,10.0,488,0.049550
2,Arkansas,1,471,582,11399,Arkansas,5.0,6.0,1054,0.107020
3,California,4755,263434,217325,608538,California,6.0,9.0,485514,49.297768
4,Connecticut,1,4643,5546,21202,Connecticut,9.0,1.0,10190,1.034665
5,Florida,2,22653,15257,145962,Florida,12.0,4.0,37912,3.849481
6,Georgia,0,27625,5124,50675,Georgia,13.0,4.0,32749,3.325244
7,Hawaii,4,6156,2443,13174,Hawaii,15.0,9.0,8603,0.873525
8,Idaho,0,589,768,8304,Idaho,16.0,10.0,1357,0.137786
9,Illinois,1,13170,7367,94543,Illinois,17.0,5.0,20538,2.085373
10,Indiana,0,2816,2769,30411,Indiana,18.0,5.0,5585,0.567086
11,Iowa,0,903,1506,16005,Iowa,19.0,7.0,2409,0.244603
12,Kansas,0,1285,1120,14498,Kansas,20.0,7.0,2405,0.244197
13,Kentucky,0,903,1071,17490,Kentucky,21.0,4.0,1974,0.200435
14,Louisiana,0,847,757,11713,Louisiana,22.0,6.0,1604,0.162866
15,Maine,0,568,1646,8854,Maine,23.0,1.0,2214,0.224804
16,Maryland,3,8003,8210,51657,Maryland,24.0,3.0,16216,1.646528
17,Massachusetts,0,10133,11388,51465,Massachusetts,25.0,1.0,21521,2.185184
18,Michigan,0,3573,12340,45480,Michigan,26.0,5.0,15913,1.615763
19,Mississippi,0,231,327,7412,Mississippi,28.0,4.0,558,0.056658
20,Missouri,0,3427,2682,37202,Missouri,29.0,7.0,6109,0.620291
21,Montana,0,439,385,6229,Montana,30.0,8.0,824,0.083667
22,Nebraska,0,711,891,8668,Nebraska,31.0,7.0,1602,0.162663
23,Nevada,0,3748,2211,20238,Nevada,32.0,9.0,5959,0.605061
24,New Hampshire,0,1164,1948,11143,New Hampshire,33.0,1.0,3112,0.315984
25,New Jersey,1,11661,12929,53320,New Jersey,34.0,2.0,24591,2.496903
26,New York,2,15908,27794,111348,New York,36.0,2.0,43704,4.437585
27,North Carolina,0,6839,4949,60865,North Carolina,37.0,4.0,11788,1.196921
28,North Dakota,0,97,147,2208,North Dakota,38.0,8.0,244,0.024775
29,Ohio,0,5960,5709,58931,Ohio,39.0,5.0,11669,1.184838
30,Oklahoma,0,3426,985,52891,Oklahoma,40.0,6.0,4411,0.447881
31,Oregon,0,11960,7919,43312,Oregon,41.0,10.0,19879,2.018459
32,Rhode Island,0,674,1135,5854,Rhode Island,44.0,1.0,1809,0.183681
33,South Carolina,0,1476,1639,23442,South Carolina,45.0,4.0,3115,0.316289
34,South Dakota,0,142,234,3183,South Dakota,46.0,8.0,376,0.038178
35,Tennessee,0,3597,1972,27719,Tennessee,47.0,4.0,5569,0.565461
36,Texas,0,19739,11889,125884,Texas,48.0,6.0,31628,3.211421
37,Total US,4770,543034,437056,2303601,NaN,NaN,NaN,984860,100.000000
38,Utah,0,4149,2289,18297,Utah,49.0,8.0,6438,0.653697
39,Vermont,0,985,2151,6434,Vermont,50.0,1.0,3136,0.318421
40,Virginia,0,8420,6813,64415,Virginia,51.0,3.0,15233,1.546717
41,West Virginia,0,216,404,6352,West Virginia,54.0,3.0,620,0.062953
42,Wisconsin,0,4488,3054,32563,Wisconsin,55.0,5.0,7542,0.765794
43,Wyoming,0,121,120,1805,Wyoming,56.0,8.0,241,0.024470

In [77]:
mdf = mdf[~mdf['State Code'].isin(EXCLUDE_STATES)]
mdf_carb = mdf[mdf['State Code'].isin(ZEV_STATES)]
mdf_noncarb = mdf[~mdf['State Code'].isin(ZEV_STATES)]
mdf_noncarb = mdf_noncarb[mdf_noncarb['State']!='Total US']

In [78]:
mdf_carb['us_percent'].sum(), mdf_noncarb['us_percent'].sum()

(63.84399813171416, 25.56728875170075)

In [47]:
mdf_noncarb

,State,FCEV Sales,BEV Sales,PHEV Sales,HEV Sales,State Name,State Code,EPA Region,ev_sales,us_percent
0,Alabama,0,1038,1135,16833,Alabama,1.0,4.0,19006,0.577960
1,Alaska,0,228,260,2358,Alaska,2.0,10.0,2846,0.086545
3,Arkansas,1,471,582,11399,Arkansas,5.0,6.0,12453,0.378688
9,Florida,2,22653,15257,145962,Florida,12.0,4.0,183874,5.591491
10,Georgia,0,27625,5124,50675,Georgia,13.0,4.0,83424,2.536871
11,Hawaii,4,6156,2443,13174,Hawaii,15.0,9.0,21777,0.662225
12,Idaho,0,589,768,8304,Idaho,16.0,10.0,9661,0.293785
13,Illinois,1,13170,7367,94543,Illinois,17.0,5.0,115081,3.499540
14,Indiana,0,2816,2769,30411,Indiana,18.0,5.0,35996,1.094615
15,Iowa,0,903,1506,16005,Iowa,19.0,7.0,18414,0.559958
16,Kansas,0,1285,1120,14498,Kansas,20.0,7.0,16903,0.514009
17,Kentucky,0,903,1071,17490,Kentucky,21.0,4.0,19464,0.591888
18,Louisiana,0,847,757,11713,Louisiana,22.0,6.0,13317,0.404961
22,Michigan,0,3573,12340,45480,Michigan,26.0,5.0,61393,1.866922
24,Mississippi,0,231,327,7412,Mississippi,28.0,4.0,7970,0.242363
25,Missouri,0,3427,2682,37202,Missouri,29.0,7.0,43311,1.317060
26,Montana,0,439,385,6229,Montana,30.0,8.0,7053,0.214477
27,Nebraska,0,711,891,8668,Nebraska,31.0,7.0,10270,0.312304
28,Nevada,0,3748,2211,20238,Nevada,32.0,9.0,26197,0.796634
29,New Hampshire,0,1164,1948,11143,New Hampshire,33.0,1.0,14255,0.433485
33,North Carolina,0,6839,4949,60865,North Carolina,37.0,4.0,72653,2.209331
34,North Dakota,0,97,147,2208,North Dakota,38.0,8.0,2452,0.074564
35,Ohio,0,5960,5709,58931,Ohio,39.0,5.0,70600,2.146901
36,Oklahoma,0,3426,985,52891,Oklahoma,40.0,6.0,57302,1.742517
40,South Carolina,0,1476,1639,23442,South Carolina,45.0,4.0,26557,0.807581
41,South Dakota,0,142,234,3183,South Dakota,46.0,8.0,3559,0.108227
42,Tennessee,0,3597,1972,27719,Tennessee,47.0,4.0,33288,1.012267
43,Texas,0,19739,11889,125884,Texas,48.0,6.0,157512,4.789839
45,Utah,0,4149,2289,18297,Utah,49.0,8.0,24735,0.752176
47,Virginia,0,8420,6813,64415,Virginia,51.0,3.0,79648,2.422045
49,West Virginia,0,216,404,6352,West Virginia,54.0,3.0,6972,0.212014
50,Wisconsin,0,4488,3054,32563,Wisconsin,55.0,5.0,40105,1.219567
51,Wyoming,0,121,120,1805,Wyoming,56.0,8.0,2046,0.062218

In [34]:
epa_region[epa_region['State Code'].isin(EXCLUDE_STATES)]

                State Name  State Code  EPA Region
322               Delaware          10           3
325   District Of Columbia          11           3
2254          Pennsylvania          42           3
2966            Washington          53          10

In [37]:
epa_region[epa_region['State Name'] == 'Minnesota']

     State Name  State Code  EPA Region
1322  Minnesota          27           5

In [79]:
mdf_carb

,State,FCEV Sales,BEV Sales,PHEV Sales,HEV Sales,State Name,State Code,EPA Region,ev_sales,us_percent
3,California,4755,263434,217325,608538,California,6.0,9.0,485514,49.297768
4,Connecticut,1,4643,5546,21202,Connecticut,9.0,1.0,10190,1.034665
15,Maine,0,568,1646,8854,Maine,23.0,1.0,2214,0.224804
16,Maryland,3,8003,8210,51657,Maryland,24.0,3.0,16216,1.646528
17,Massachusetts,0,10133,11388,51465,Massachusetts,25.0,1.0,21521,2.185184
25,New Jersey,1,11661,12929,53320,New Jersey,34.0,2.0,24591,2.496903
26,New York,2,15908,27794,111348,New York,36.0,2.0,43704,4.437585
31,Oregon,0,11960,7919,43312,Oregon,41.0,10.0,19879,2.018459
32,Rhode Island,0,674,1135,5854,Rhode Island,44.0,1.0,1809,0.183681
39,Vermont,0,985,2151,6434,Vermont,50.0,1.0,3136,0.318421