In [8]:
from make_file_for_odds_ratio_child import GetData
import pandas as pd
from prepare_data_for_modeling_child_or import ModelingDataChild

In [3]:
dfs = GetData().execute()

File already exists: reading now...
File already exists: reading now...
File already exists: reading now...

NameError: name 'pd' is not defined

In [6]:
mdf = pd.DataFrame()
for i in range(len(dfs)):
    mdf = mdf.append(dfs[i])

In [11]:
mdf[~pd.isna(mdf['_CLLCPWT'])].shape

(191151, 12)

In [9]:
df = ModelingDataChild().get_data_with_epa_region()

File already exists: reading now...
File already exists: reading now...
File already exists: reading now...

In [14]:
df.describe()

              _STATE       CASTHDX2      CASTHNO2  ...          STATE     State Code     EPA Region
count  164571.000000  164571.000000  20495.000000  ...  161188.000000  164571.000000  164571.000000
mean       28.077037       1.875415      1.472652  ...      27.155185      28.077037       5.356114
std        14.705215       0.330248      0.976608  ...      13.395572      14.705215       2.547925
min         4.000000       1.000000      1.000000  ...       4.000000       4.000000       1.000000
25%        17.000000       2.000000      1.000000  ...      17.000000      17.000000       4.000000
50%        27.000000       2.000000      1.000000  ...      27.000000      27.000000       5.000000
75%        39.000000       2.000000      2.000000  ...      35.000000      39.000000       7.000000
max        72.000000       2.000000      9.000000  ...      55.000000      72.000000      10.000000

[8 rows x 21 columns]

In [28]:
def groupby(df, col):
    t = df.groupby([col])['id'].count().reset_index()
    t['per'] = t['id']*100/df.shape[0]
    return t

In [29]:
df['id'] = df.index

In [30]:
groupby(df, 'POVERTY')

   POVERTY      id        per
0      0.0  125698  76.379192
1      1.0   23195  14.094221

In [31]:
df.shape

(164571, 24)

In [32]:
groupby(df, 'ASTHMA')

   ASTHMA      id        per
0       0  151387  91.988868
1       1   13184   8.011132

In [34]:
groupby(df, 'NONCARB')

   NONCARB      id        per
0        0  131069  79.642829
1        1   33502  20.357171

In [35]:
groupby(df, 'POVERTY')

   POVERTY      id        per
0      0.0  125698  76.379192
1      1.0   23195  14.094221